@model IEnumerable<MVC_First.Models.assignment>

@{
    ViewBag.Title = "ViewAssignments";
}
<script src="~/Scripts/jquery-1.9.1.js"></script>


        <link href="~/Content/kendo/2013.3.1119/kendo.flat.min.css" rel="stylesheet" />
        <link href="~/Content/kendo/2013.3.1119/kendo.common.min.css" rel="stylesheet" />
        <script src="~/Scripts/kendo/2013.3.1119/jquery.min.js"></script>
        <script src="~/Scripts/kendo/2013.3.1119/kendo.web.min.js">

</script>

<script>
    $('document').ready(function () {


        $(".k-primary").kendoButton();

    });
    </script>

<div class ="k-content" style ="background-color:mintcream; height:auto; width:50%;margin-left:25%"> 
<h2 class ="k-header">View Assignments:</h2>


@foreach (var item in Model) {
    
             <div style ="font-size:medium;border:solid;border-color:darkgray;width:100%;background-color:#e5e0e0" >          
                   &nbsp <h2 class ="k-header" style ="margin-top:-3%"> Assignment No : @item.aNumber</h2><br>
                   &nbsp Total Marks : @item.totalMarks<br><br>
                   &nbsp StartDate : @item.startDate<br><br>
                   &nbsp End Date : @item.endDate<br><br>

                   &nbsp <button class="k-primary" type="submit" style ="width:20%" onclick="location.href='@Url.Action("ShowFile", "Teacher" , new {path = item.solutionFilePath})'">View Solution</button>
                   &nbsp <button class="k-primary" type="submit" style ="width:20%" onclick="location.href='@Url.Action("ShowPDFFile", "Teacher" , new {path = item.questionFilePath})'">View Assignment</button>
                 &nbsp <button class="k-primary" type="submit" style ="width:20%" onclick="location.href='@Url.Action("EditAssignment", "Teacher" , new {aid = item.aid})'">Edit Assignment</button><br><br>
             </div><br>
    
}

</div>