@{
    ViewBag.Title = "StudentHome";
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

         <link href="~/Content/kendo/2013.3.1119/kendo.flat.min.css" rel="stylesheet" />
        <link href="~/Content/kendo/2013.3.1119/kendo.common.min.css" rel="stylesheet" />
        <script src="~/Scripts/kendo/2013.3.1119/jquery.min.js"></script>
        <script src="~/Scripts/kendo/2013.3.1119/kendo.web.min.js"></script>

<script>
  $('document').ready(function () {


        $(".k-primary").kendoButton();

  });
    </script>

<div class="demo-section" style="height:60%; width:50%; margin-left:25%">
    <h2 class="k-header">Student Home:</h2><br>
        <button class="k-primary" type="submit" id ="btn1" style="width:25%;height:auto;margin-left:15%" onclick="location.href='@Url.Action("Notification","Student")'">Notifications</button>
        <button class="k-primary" type="submit" style="width:25%;height:auto;margin-left:15%" id ="btn14" onclick="location.href='@Url.Action("AssignmentResult", "Student")'">View Assignment Result</button>
       
       <br><br>
         <button class="k-primary" type="submit"   id ="btn2" style="width:25%;height:auto;margin-left:15%" onclick="location.href='@Url.Action("TakeQuiz", "Student")'">Attempt Quiz</button>
        <button class="k-primary" type="submit"  id ="btn3" style="width:25%;height:auto;margin-left:15%" onclick="location.href='@Url.Action("Assignments", "Student")'">View Assignment</button>
      <br><br>
        <button class="k-primary" type="submit"  id ="btn4" style="width:25%;height:auto;margin-left:15%" onclick="location.href='@Url.Action("showResult", "Student")'">View Quiz Result</button>
        <button class="k-primary" type="submit" style="width:25%;height:auto;margin-left:15%" id ="btn5" onclick="location.href='@Url.Action("SubmitAssignment", "Student")'">Submit Assignment</button>
        
      <br><br>
        <button class="k-primary" type="submit" style="margin-left:15%;width:25%" id ="btn12" onclick="location.href='@Url.Action("ViewLog","Student")'">View Log</button>
         <button class="k-primary" type="submit" id="btn6" style="width:25%;height:auto;margin-left:15%" onclick="location.href='@Url.Action("ViewCourse", "Student")'">View Courses</button>
       <br><br>
    <button class="k-primary" type="submit" style="width:25%;height:auto;margin-left:15%" id="btn13" onclick="location.href='@Url.Action("ShowMidResult", "Student")'">View Mid Result</button>
    <button class="k-primary" type="submit" style="width:25%;height:auto;margin-left:15%" id="btn7" onclick="location.href='@Url.Action("ShowFinalResult", "Student")'">View Final Result</button>
    <br><br>
    
        

</div>

@if (ViewBag.passwordChanged != null)
{
    <script>
        $(document).ready(function () {
            alert("Password Changed Successfully!");

        });
 </script>
    ViewBag.passwordChanged = null;
}